@model WebApplication3.Models.stud
@{
    ViewBag.Title = "studentreg";
}



<link href="~/css/Registration.css" rel="stylesheet" />


<div class="container">
    @using (Html.BeginForm("student", "Register", FormMethod.Post))

    {
        <div style="background-image:linear-gradient(rgb(255, 255, 255),rgb(0, 148, 255))">
            <center><P style="font-size:50px;color:crimson"><b>STUDENT</b></P></center>
        </div> 

        <label for="id"><b>ID</b></label>
        <input type="text" placeholder="Enter Id" name="id" id="id" required>

        @*<div><label>id</label> </div>
        <div>
            @Html.TextBoxFor(m => m.id)
            @Html.ValidationMessageFor(m => m.id)
        </div>*@
        <label for="name"><b>NAME</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name" required>

      
        <label for="age"><b>AGE</b></label>
        <input type="text" placeholder="Enter Age" name="age" id="age" required>
        <br/>

        <label for="qulification"><b>QULIFICATION</b></label>
        <input type="text" placeholder="Enter Qulification" name="qualification" id="qualification" required>

        <label for="passout year"><b>PASSOUT YEAR</b></label>
        <input type="text" placeholder="Enter Passout year" name="passoutyear" id="passoutyear" required>

        <label for="email"><b>EMAIL</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
        <br />

        <label for="username"><b>USERNAME</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>PASSWORD</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

           
            <div>
                @*<input type="button" value="Register" class="studreg" />*@
                <button type="submit" class="reg">Register</button>
                <strong>@Html.DisplayFor(m => m.msg)</strong> 


            </div>
            
    }
</div>
