@model WebApplication3.Models.companyprof
@{
    ViewBag.Title = "companyprofile";
    var companyprof = ViewData.Model;

}

<center><h2>COMPANY PROFILE</h2></center>

<div>
    @using (Html.BeginForm("company profile", "profile", FormMethod.Post))
    {
        

        <div><label>Company Name</label></div>
        <div>
            @companyprof.companyname

        </div>
        <div><label>Address</label></div>
        <div>
            @companyprof.address

        </div>
        <div><label>Phone</label></div>
        <div>
            @companyprof.phone

        </div>
        <div><label>Email</label></div>
        <div>
            @companyprof.email
        </div>
      
        
    }
</div>