
@{
    ViewBag.Title = "jobappview";
}
<link href="~/css/Jobview.css" rel="stylesheet" />

<div class="job">
    @foreach (var item in ViewBag.appliedjob)
    {
        <div>ID::@item.id </div>

        <div>NAME::@item.name</div>

        <div>PLACE::@item.place</div>

        <div>QUALIFICATION::@item.qualification</div>



    
    }

</div>


