@model WebApplication3.Models.jobs
@{
    ViewBag.Title = "compjob";
}
<link href="~/css/Registration.css" rel="stylesheet" />

<br/>
<div  class="container">
    @using (Html.BeginForm("job", "job", FormMethod.Post))

    {

        <label for="id"><b>ID</b></label>
        <input type="text" placeholder="Enter Id" name="id" id="id" required>

        <label for="jobtitle"><b>JOB TITLE</b></label>
        <input type="text" placeholder="Enter jobtitle" name="jobtitle" id="jobtitle" required>

        <label for="experiance"><b>EXPERIANCE</b></label>
        <input type="text" placeholder="Enter experiance" name="experiance" id="experiance" required>
        <br/>

        <label for="vaccancies"><b>VACCANCIES</b></label>
        <input type="text" placeholder="Enter vaccancies" name="vaccancies" id="vaccancies" required>

        <label for="contactnumber"><b>CONTACT NUMBER</b></label>
        <input type="text" placeholder="Enter contactnumber" name="contactnumber" id="contactnumber" required>

        <label for="email"><b>EMAIL</b></label>
        <input type="text" placeholder="Enter email" name="email" id="email" required>

        <div>

            <button type="submit" class="reg">ADD</button>
            <strong>@Html.DisplayFor(m => m.msg)</strong>

        
        </div>
    }
</div>