@model WebApplication3.Models.intern
@{
    ViewBag.Title = "interns";
}
<link href="~/css/Registration.css" rel="stylesheet" />
<br/>

<div class="container">
    @using (Html.BeginForm("studinterns", "internship", FormMethod.Post))

    {
        <label for="id"><b>ID</b></label>
        <input type="text" placeholder="Enter Id" name="id" id="id" required>

        <label for="amount"><b>AMOUNT</b></label>
        <input type="text" placeholder="Enter amount" name="amount" id="amount" required>

        <label for="duration"><b>DURATION</b></label>
        <input type="text" placeholder="Enter duration" name="duration" id="duration" required>
        <br />

        <label for="internshipname"><b>INTERNSHIP NAME</b></label>
        <input type="text" placeholder="Enter internshipname" name="internshipname" id="internshipname" required>

        <label for="contactnumber"><b>CONTACT NUMBER</b></label>
        <input type="text" placeholder="Enter contactnumber" name="contactnumber" id="contactnumber" required>
        <br />

        <label for="email"><b>EMAIL</b></label>
        <input type="text" placeholder="Enter email" name="email" id="email" required>

        <div>
            <button type="submit" class="reg">ADD</button>
            <strong>@Html.DisplayFor(m => m.msg)</strong>


        </div>
    }
</div>