@model WebApplication3.Models.internviewapply

@{
    ViewBag.Title = "Button";
}
<link href="~/css/Jobview.css" rel="stylesheet" />
<div>
    
        @using (Html.BeginForm("Button", "applyinternview"))
        {
            <center>
                <label for="id"><b>ID</b></label>
                <input type="text" placeholder="Enter ID" name="id" id="id" required>
                <br />
            </center>

            <center>
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" id="name" required>
                <br />
            </center>

            <center>
                <label for="place"><b>Place</b></label>
                <input type="text" placeholder="Enter Place" name="place" id="place" required>
                <br />
            </center>

            <center>
                <label for="qulificaiton"><b>Qualification</b></label>
                <input type="text" placeholder="Enter Qualification" name="qulificaiton" id="qulificaiton" required>
                <br />
            </center>

            <div>



                <input type="submit" class="but1" value="Apply" />

                <strong>@Html.DisplayFor(m => m.msg)</strong>

            </div>

        }
    
</div>
