
@{
    ViewBag.Title = "internview";
}


<div class="Intern">

    @foreach (var internship in Model)
    {

        <div>ID::@internship.id</div>
        <div>AMOUNT::@internship.amount</div>
        <div>DURATION::@internship.duration</div>
        <div>INTERNSHIP NAME::@internship.internshipname</div>
        <div>CONTACT NUMBER::@internship.contactnumber</div>
        <div>EMAIL::@internship.email</div>


        <div class="col-md-offset-2 col-md-12">
            <a  class="btn btn-info" onclick="" href="@Url.Action("Button","applyinternview")">APPLY</a>


        </div>

     




    }
</div>



