@{
    ViewBag.Title = "About";
   
}

<p style="color:grey;font-size:80px"><b>ABOUT</b></p>





    
    <div>
        <p style="font-size:25px">
            This is an application for students for get hired by the companies which are looking for employies.Students can search and pick a
            job and apply for it, the companies will check the datas that is provided by the students and the most talented ones will
            picked by interviews and other tests by companies.
            This College Placements & Assistance System application is a smart web application which helps students to find easy placements and internships for different
            companies which are registered in the application.
            The application main aim is to unite the students and companies on a platform so that the searching of jobs will be easy for
            students and searching for employees will be easy for companies also. In this application, companies will register and login into
            the application and post the notice of job by specifying all the details,
            like how many vacancies and requirements.

            The company will also conduct the internships so that also will be posted by adding internship details like whether it is full-time or part-time, etc.
            The students must also have registered and login into the application and the student can view the notices of internship and job available for that
            company so the student can apply by uploading a resume. Here in this application admin will give the placement assistance by providing training.
            Admin will upload a document for training that can be seen by the student and they can follow and get assistance.
        </p>
    </div>

    <div>
        <p style="font-family:'Malgun Gothic';font-size:30px;color:blueviolet">Developed By:GOKUL RAJ</p>

        <P>  <a href="https://www.facebook.com/gokul.raj.14203"><img src="~/FB.gif" style="width:150px;height:150px;"></a></P>

    </div>
