@{
    ViewBag.Title = "Home Page";
}
<link href="~/css/HomePage.css" rel="stylesheet" />

<div style="background-image: url('WeHelp-logo-colour.png')" class="a" >
    <img width="100" height="100" src="~/logo.png" />
   
    <center><p style="font-size:80px" ><b>WE HELP</b></p></center>
    <center> <p class="lead">college placement and assistance system</p></center>
</div>

<div class="wel">
    WELCOME
    
</div>



 <div class="b">
     <font color="grey"><h2>Getting started</h2></font> 
<p style="font-size:25px">
    This College Placements & Assistance System application is a smart web application which helps students to find easy placements and internships for different companies which are registered in the application. The application main aim is to unite the students and companies on a platform so that the searching of jobs will be easy for students and searching for employees will be easy for companies also. In this application, companies will register and login into the application and post the notice of job by specifying all the details, like how many vacancies and requirements.

    The company will also conduct the internships so that also will be posted by adding internship details like whether it is full-time or part-time, etc. The students must also have registered and login into the application and the student can view the notices of internship and job available for that company so the student can apply by uploading a resume. Here in this application admin will give the placement assistance by providing training. Admin will upload a document for training that can be seen by the student and they can follow and get assistance.

</p>
 <font color="grey"><h2>About Companies</h2></font>
<h3><u>WIPRO</u></h3>
<p style="font-size:25px">
    Wipro Limited is a provider of IT services, including Systems Integration, Consulting, Information Systems outsourcing, IT-enabled services, and R&D services. Wipro entered into the technology business in 1981 and has over 160,000 employees and clients across 110 countries.
</p>

<h3><u>HCL</u></h3>
<p style="font-size:25px">
    HCL Technologies is a next-generation global technology company that helps enterprises reimagine their businesses for the digital age. Our technology products and services are built on four decades of innovation, with a world-renowned management philosophy, a strong culture of invention and risk-taking, and a relentless focus on customer relationships. HCL also takes pride in its many diversity, social responsibility, sustainability, and education initiatives. Through its worldwide network of R&D facilities and co-innovation labs, global delivery capabilities, and over 153,000+ ‘Ideapreneurs’ across 50 countries, HCL delivers holistic services across industry verticals to leading enterprises, including 250 of the Fortune 500 and 650 of the Global 2000.
</p>

<h3><u>TCS</u></h3>
<p style="font-size:25px">
    Tata Consultancy Services is an IT services, consulting and business solutions organization that delivers
    real results to global business, ensuring a level of certainty no other firm can match. TCS offers a
    consulting-led, integrated portfolio of IT, BPO, infrastructure, engineering and assurance services. This is
    delivered through its unique Global Network Delivery Model™, recognized as the benchmark of excellence
    in software development. A part of the Tata Group, India’s largest industrial conglomerate, TCS has over
    238,500 of the world's best trained consultants in 42 countries. The Company generated consolidated
    revenues of US $10.17 billion for year ended 31 March, 2012 and is listed on the National Stock Exchange
    and Bombay Stock Exchange in India.
</p>
</div>

<div class="c" style="background-image: url('Thumbsup.jpg')">

</div>
